* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

nav {
    /* padding: 5px 100px; */
    background: rgb(36, 30, 30);
    color: wheat;
}

nav .ul .logo {
    font-size: 2rem;
    font-weight: bolder;
}

nav ul {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */

main {

}

main .mainScreen{
    position: relative;
    width: 100%;
    text-align: center;
}
main .slide{
    /* display: flex; */
    /* width: 60%; */
    /* justify-content: center; */
    box-shadow: 0px 0px 35px rgb(129, 94, 94);
    padding: 0px 0px 10px 0px;
}
main .textNumber{
    padding: 4px;
    font-weight: bolder;
}
main .slide img{
    width: 100%;
}
.slide{
    display: none;
}
.arrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
    background: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 80%;

    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
}

.left{
    left: 10px;
}

.right{
    right: 10px;
}